body {
    font-size: 1rem;
    background-image: url("pattern-background-desktop.svg");
    background-repeat:no-repeat;
    background-color:hsl(225, 100%, 94%);
    text-align: center;
}
#container{
  width:400px;
 /* height:600px; */
  background-color: white;
  margin:100px auto;
  border-radius:10px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500, 700, 900;
 
}
.header{
  font-size:.9rem;
  color:hsl(223, 47%, 23%);
  font-weight: 700;
  margin:0px ;
  padding: 0px;
}
.para{
  font-size: 16px;
  color:hsl(224, 23%, 55%);
  margin:4px auto;
  width:78%;
}

.imghero{
  border-radius: 10px;
  overflow:hidden;
  width:100%;
  height:230px;
  background-image:url(illustration-hero.svg);
  background-repeat:no-repeat;
  background-clip: border-box;
  margin:0;
  padding:0px;
}
.con{
  background-color:  hsl(225, 100%, 98%);
  width:90%;
  margin:0 auto;
  border-radius: 10px;
  
  
}
#box{
  display: flex;
}
 #box .box{
  
  margin:5px 0px;
}
.box p{
  margin-left: -10px;
  margin-right: 70px;
  color:hsl(223, 47%, 23%);
  margin-bottom: 10px;
  font-weight: 900;
}
.box span{
  color:hsl(224, 23%, 55%);
  
  
  
}
.box img{
  margin:35% 20px 0 16px;
  
}
.box a{
  position: relative;
  margin:auto 5px;
  top:30%;
  color: hsl(240, 75%, 50%);
  font-weight: 700;
  font-size: 16px;
 
}
.box a:hover{
  color:#413AB8CF
}
#button{
  margin:auto auto;
  padding:10px;
  text-align: center;
  border-radius: 10px;
  font-weight: 900;
  
}
.but1{
  margin: 5px;
  padding:15px;
 width:90%;
 border-radius: 7px;
 border:none;
 font-weight: 900;
 color:white;
 background-color: hsl(245, 75%, 52%);
}
.but2{
  margin: 5px;
  padding: 15px;
  width: 90%;
  border-radius: 7px;
  background-color: white;
  border:none;
  font-weight: 900;
  color:  hsl(224, 23%, 55%);
 
}
.but1:hover{
  background-color:#413AB8CF
  
}

.but2:hover{
  color: hsl(223, 47%, 23%);
  
}
@media screen and(max-width:1440px){
  body{
    box-sizing: border-box;
  }
 #container {
  
   width: 1440px;
   height: 600px;
   background-color: white;
   margin: 100px auto;
   border-radius: 10px;
   font-family: 'Red Hat Display', sans-serif;
   font-weight: 500, 700, 900;
}
  
}

